*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0b0bed;
}




#header {
    backdrop-filter: blur(10px);
    background-color: rgba(16, 16, 16, 0.792);
    color: #FAF9F6;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3%;
    transition: all 2s ease;
    position: sticky;
    overflow: hidden;
}

.navlist{
    display: flex;
    list-style-type: none;
}

.navlist a{
    color: #FAF9F6;
    text-decoration:none;
    margin-left:90px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #FAF9F6;;
    transition: all .55s ease;
    cursor: pointer;
}

.logo {
    display: inline;
    display: flex;
    font-size: 25px;
    font-weight: 700;
    color: #FAF9F6;;
    white-space: nowrap;
}

.menu{
    cursor: pointer;
    margin-left: 60px;
    display: none;
    font-size: 1.6em;
}
#ri-menu-line{
    z-index: 10001;
    cursor: pointer;
}








.intro{
    color: #FAF9F6;
    font-size: 2rem;
    margin: 0;
}

.name{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    color: #FAF9F6;
}

.quote{
    color: #FAF9F6;
    padding: 15px 0;
    font-size: 3.4rem;
    -webkit-text-stroke:0.25vw #FAF9F6;
    transition: all 1s;
}

.wrapper{
    display: flex;
    box-sizing: content-box;
    height: 75px;
    width: 100%;
    transition: all 1s;
}

.wrapper span{
    color: #000000;
    display: block;
    height: 100%;
    -webkit-text-stroke:0.25vw #000000;
    font-size: 3.5rem;
    padding-top: 32px;
    padding-left: 15px;
    animation: spin_words 9s infinite;
}

.words{
  overflow: hidden;
  min-width: fit-content;
  -webkit-text-stroke:0.2vw #000000;
}

@keyframes spin_words{
    10%{
        transform: translateY(-125%);
    }
    25%{
        transform: translateY(-120%);
    }
    35%{
        transform: translateY(-225%);
    }
    50%{
        transform: translateY(-220%);
    }
    60%{
        transform: translateY(-325%);
    }
    75%{
        transform: translateY(-320%);
    }
    85%{
        transform: translateY(-425%);
    }
    100%{
        transform: translateY(-420%);
    }
}


.about{
    text-align: center;
    color: #FAF9F6;
    font-size: 2rem;
    margin: 0;
}

.right_home{
    width: 40%;
    height: 100%;
    min-height: 600px;
    align-content: center;
    float: right;
    margin-top: 30px;
}
.right_home p{
    color: #fff;
    backdrop-filter: blur(10px);
    background-color: rgba(12, 12, 12, 0.728);
    border-radius: 10px;
    padding: 5% 9%;
    margin-top: 30px;
    font-size: clamp(1.0rem, 2.2vw, 1.4rem);
}
.left_home{
    height: 100%;
    min-height: 600px;
    margin-top: 45px;
    margin-left: 3%;
    width: 57%;
    float: left;
}

#home img {
    height: 100%;
    width: 100%;
  }










.proj_buttons{
    display: flex;
    border-bottom: 1px solid #FAF9F6;
}

.proj_buttons button{
    background:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #FAF9F6;
    transition: all 1s ease;
}

.proj_buttons i{ 
    margin-right: 15px;
    color: #FAF9F6;
}

.proj_buttons button:hover i{ 
    color:#ff7846;
}

.projects {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 20px auto;
    height: 900px;
}

.content {
    margin-top: 10px;
    width: 90%;
    position: absolute;
}

.proj_box {
    width: 100%;
    position: relative;
}
.proj_box a{
    text-decoration: none;
}

.single_project{
    position: relative;
    height: min(140px, 500px);
    margin-bottom: 5%;
}

.icon {
    margin-top: 5px;
    position: absolute;
    width: min(20%, 140px);height: auto;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

#python_page {
    transform: translateX(0%);
    background-color: #2b2b2bbd;
    padding: 5% 5%;
    display: flex;
    border-radius: 25px;
}
#html_page {
    transform: translateX(120%);
    background-color: #2b2b2bbd;
    padding: 5% 5%;
    border-radius: 25px;
}
#swift_page{
    transform: translateX(120%);
    background-color: #2b2b2bbd;
    padding: 5% 5%;
    border-radius: 25px;
}

.left_proj{
    width: 20%;
    height: 100%;
    float: left;
    transition: all 1s ease;
}
.left_proj :hover{
    transform: translateY(-3px);
}
.right_proj{
    padding: 5px 5px;
    width: 73%;
    height: 100%;
    float: right;
    color: #FAF9F6;
    margin-top: 5px;
    background-color: #454545d0;
    overflow-y:auto;
    border-radius: 20px;
    transition: all 1s ease;
}
.right_proj h4{
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 10px;
    margin-left: 4%;
    color: #FAF9F6;
}
.right_proj p{
    font-size: 16px;
    margin: 0 4%;
    color:#FAF9F6;
}





.education{
    margin: auto;
    width: 60%;
    text-align: center;
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}


.education_title{
    text-align: center;
    width: 85%;
    border-bottom: 2px solid #FAF9F6;
    height: 50px;
    color: #FAF9F6;
    margin: 0 auto;
    margin-bottom: 25px;
}

.uci{
    align-content: center;
    width: 80%;
    color: #FAF9F6;
    height: min(100px, auto);

    margin: 0 auto;

}

.kipp{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    color: #FAF9F6;;
}








.classes{
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    position: relative;
    transition: all 1s ease;
    
}

.classes ul{
    padding: 0px;
    margin: 0px;
}


.classes ul li{
    float:left;
    list-style: none;
    width:30%;
    height:140px;
    background: rgb(60, 60, 60);
    margin :7px 0px 7px 5px; 
    border:2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 15px;
}

.classes ul li:hover{
    z-index: 100001;
}

.class{
    margin-left: 8px;
    height: 20%;
    padding-left: 2%;
    padding-top: 3%;
    width: 100%;   
    color:#FAF9F6;
    font-size: 20px;
    width: 90%;
}
.class p{ 
    margin-top: 10px;
    font-size: 14px;
    color:  #FAF9F6;
}

.class_info{
    margin: 0 12px;
    height: 50%;
    overflow-y:auto;
}

.learn_more{
    height: 20%;
    float: bottom;
    display: flex;
    align-items: flex-end;
}

.learn_more a{
    font-size: 13px;
    text-decoration: none;
    color: #FAF9F6;
    text-decoration:none;
    border-bottom: 2px solid transparent;
    margin-left: 10px;
}

.clubs_title{
    margin-top: 100px;
    margin-bottom: 10px;
    color: #FAF9F6;
    font-size: 30px;
}
.clubs{
    margin: 0 auto;
    width: 80%;
    color: #FAF9F6;
    align-self: center;
}

.club{
    display: flex;
    background-color: rgba(60, 58, 58, 0.817);
    border-radius: 30px;
    color: #FAF9F6;;
}

.ops_left{
    padding: 10px 10px 0 10px;
    width: 70%;
}

.ops_left h3{
    padding-left: 5px;
    color: #FAF9F6;
}

.ops_left p{
    padding: 10px 5px;
    color:#FAF9F6;
}

.ops_right {
    width: 30%;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.ops_right img{
    width: 90%;
    margin: 10px 0;
    height: auto;
}





.contacts_section{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    max-width: 300px;
    float: left;
    height: 500px;
    justify-content: center;
}

.contact_link{
    height: 100px;
    margin-bottom: 4%;
    background-color: #2d2c2cd2;
    border-radius: 25px;
    width: 85%;
}

.contact_link a{
    width: 100%;
    display: flex;
    height: 100%;
}

.contacts_section a{
    text-decoration: none;
    color: #FAF9F6;
}

.link_title{
    font-size: min(20, 2.0vw);
    height: 100%;
    margin-top: 40px;
    float: right;
    width: 90%;
    
}

.link_img{
    margin-top: 25px;
    height: 100%;
    width: 150px;
    float: left;
    display: flex;
    padding-left: 5%;
}

.link_img img{
    height: 50%;
    border-radius: 10px;
}







.Cover_title{
    font-family: 'Cedarville Cursive';
    color: #FAF9F6;
    padding-top: 30px;
    margin: 25px 0;
    font-size: 60px;
    padding-left: 0px;
}

.intro p{
    font-size: 20px;
    color: #FAF9F6;
}

.downloads{
    /*border: white solid 3px;*/
    color:#FAF9F6;
    border-radius: 10px;
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*.downloads a{
    margin: 0 10%;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #655e5e;
    border-radius: 10px;
    font-size: 18px;

}*/









#home{
    background-image: url("images/painting.jpg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y:bottom;
    background-size: cover;
    padding: 5% 5%;
    position:relative;
    min-height: 600px;
    scroll-margin-top: 68px;
    margin: 0;
}

#resume{
    position:relative;
    height: min(200px, 100%);
    margin: 15% 5%;
    scroll-margin-top: 98px;
}

#intro{
    position:relative;
    height: auto + 100px;
    border-radius: 25px;
    margin: 15% 10%;
    scroll-margin-top: 98px;
    display: flex;
    flex-direction: column;
}

#contact{
    position:relative;
    height: 500px;
    border-radius: 0 75px 0 75px;
    margin: 15% 5%;
    scroll-margin-top: 98px;
    background-color: #0f0f0fd4;
}






@media screen and (max-width:1271px){
    .classes ul li{
        width:47%;
        margin-left: 10px;
    }
}


@media(min-width:1271px){
    .classes ul li{
        width: 32%;
    }
}

@media (max-width: 680px) {
    .classes {
        margin-left: 5%;
    }

    .quote {
        font-size: 2.4rem;
    }
    .wrapper span{
        font-size: 2.4rem;
        margin-top: 2px;
    }
    .name{
        font-size: 3rem;
    }
    .contact_form{
        width: 80%;
    }
}

@media (max-width: 900px) {
    .classes {
        margin-left: 0%;
    }
    .classes ul li{
        width: 80%;
        height: 110px;
        display: flex;
        flex-wrap: wrap;
    }
    .class{
        position: relative;
        float: left;
        width: 25%;
        height: 60%;
    }
    .class h4 {
        font-size: 18px;
    }
    .class_info {
        float: right;
        position: relative;
        height: 70%;
        float: right;
        width: 60%;
        font-size: 13px;
        margin-top: 10px;
    }
    .learn_more{
        position: relative;
        width: 100%;
    }
}


@media (max-width: 1060px) {
    .right_home{
        margin-top: 10%;
        float:left;
        width: 100%;
        min-height: 100px;
    }
    .right_home p{
        backdrop-filter: blur(10px);
        background-color: rgba(12, 12, 12, 0.728);
        border-radius: 10px;
        padding: 5% 9%;
    }
    .left_home{
        float:left;
        width: 100%;
        min-height: 100px;
    }
    .right_home p{
        margin-top: 10px;
    }

}

@media (max-width: 1150px) {
    .navlist a{
        margin-left:60px;
    }
    
}

@media (max-width: 925px) {
    #header {
        padding: 12px 1.5%;
        transition: 1s;
    }
    .menu{
        display:contents;
    }
    #ri-menu-line{
        display: block;
    }
    .navlist {
        backdrop-filter: blur(10px);
        position: absolute;
        z-index: 100001;
        top: 53px;
        right: -50%;
        width: 150px;
        height: 12rem;
        min-height: 12rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px;
        transition: all 1s ease;
    }
    .navlist a{
        display: block;
        margin: 10px 0;
        margin-right: 0;
    }
    .navlist a:hover{
        font-size: 15px;
        font-weight: 600;
        border-bottom: 2px solid white;
        transition: all .55s ease;
        cursor: pointer;
        padding: 0 0 3px 0;
    }
    .navlist.open{
        right: 0;
        background:rgba(16, 16, 16, 0.828);
    }
    #home{
        scroll-margin-top: 52px;
    }
    #resume{
        scroll-margin-top: 52px;
    }

    #intro{
        scroll-margin-top: 52px;
    }
    #contact{
        scroll-margin-top: 52px;
    }
    #blog{
        scroll-margin-top: 52px;
    }
    .button-54{
        font-size: 12px;
    }

}

@media(max-width:825px){
    .proj_buttons button{
        background:transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 10px;
        margin-right: 40px;
        font-size: 16px;
    }
    .right_proj{
        width: 75%;
    }
    .right_proj h4{
        font-size: 20px;
    }
    .right_proj p{
        font-size: 15px;
    }
    .icon{
        margin-top: 5%;
    }

    /*club ajustment*/
    .club{
        align-items: center;
        flex-direction: column;
    }

    .ops_left{
        width: 90%;
    }
    .ops_left h3{
        padding: 10px 0;
    }
    .ops_right{
        padding: 10px 25px 0 25px;
        width: auto;
    }

    /*contact ajustment*/
    .link_title{
        width: 0%;
        height: 0%;
        font-size: 0;
    }
    .link_img{
        width:100%;
        justify-content: center;
        padding-left: 0;
    }
}

@media (min-width: 1250px) {
    .right_proj{
        width: 80%;
        height: 100%;
    }
    .left_proj {
        width: 15%;
    }
    #python_btn{
        margin-left: 5%;
    }
}

@media (min-width: 1550px) {
    .right_proj{
        width: 82%;
    }
    .left_proj {
        width: 10%;
    }
}

@media(max-width:730px){
    .icon{
        margin-top: 5%;
    }
    .right_proj{
        height: 80%;
    }
}

.email_section {
    padding: 40px 0;
    height: 500px;
    width:70%;
    justify-content: center;
    display: flex;
}

form{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: 90%;
    border-radius: 10px;
    z-index: 100;
    height: 80%;
}

form h3{
    color: #FAF9F6;;
    font-weight: 700;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size:16px;
    font-family: Arial, sans-serif;
}

form button{
    margin-top: 10px;
    padding: 15px;
    background-color: #04402b;
    color: #FAF9F6;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 80%;
    align-self: center;
}








.downloads a i{
    margin-left: 5px;
}


.button-54 {
    display: flex;
    width: fit-content;
    margin: 0 15%;
    font-family: 'Crimson Pro', serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FAF9F6;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

  .button-54:hover {
    transform: translateY(-2px);
  }
